html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/css/main.css")
        title Document
    body 
    //- start header
    header 
        .container
            .row
                img(src="images/image 1.png", alt="logo")    
                nav 
                    ul 
                        li 
                            a(class="active" href="#") Men     
                        li
                            a(href="#") Women
                        li 
                            a(href="#") Kids
                        li
                            a(href="#") Sale
                img(src="/images/image 2.png", alt="logo2")
    //- end header
    //- start landing page
    section(class="landing")
        .container 
            .row
                .col
                    h1 BRAND NEW EDITION 
                    p We´VE SET BOLD AND AMBITIOUS TARGETS FOR 2025 AGAINST OUR FOCUS AREAS OS PEOPLE, PLANET AND PLAY. LEARN MORE ABOUT OUR JOURNEY TO A BETTER FUTURE 
                    button(type="button") SHOP
                .col
                    img(src="images/Capture.PNG", alt="image3")
                    
    //- end landing page


        