.container {
  margin: 0 auto;

  @media (max-width: 575.98px) {
    width: 560px;
  }
  @media (min-width: 767.98px) {
    width: 750px;
  }
  @media (min-width: 991.98px) {
    width: 970px;
  }
  @media (min-width: 1199.98px) {
    width: 1100px;
  }
  @media (min-width: 1399.98px) {
    width: 1300px;
  }
}
* {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.097);
}
body {
  @media (max-width: 575.98px) {
    overflow-x: hidden;
  }
}
